# Ignore RProject files
*.Rproj.user
*.Rhistory
*.RData
*.dcf
*.rds
*.httr-oauth
.httr-oauth
.Rproj.user
.DS_Store
*.pptx
Icon
.Icon

# Ignore rsconnect
rsconnect/
*_files/

# Google Analytics Code
google-analytics.js

# Usage is private
Usage/
